.App {
  text-align: center;
  background-color: lightcyan;
}

.cardRow {
  display: flex;
  justify-content: space-evenly;
}

.ui.card>.image>img {
  height: 215px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
