.App {
  text-align: center;
}

.ui.text.container {
  margin-top: 20px;
}

.header.medium {
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
}
.cardRow {
  display: flex;
  justify-content: space-evenly;
}

.ui.card>.image>img {
  height: 215px;
}

#optionsBar {
  display: flex;
  justify-content: space-evenly;
}

.selectedOption {
  font-weight: bold;
  text-decoration: underline;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
